<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Site registration')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"/>
<div class="container">
    <h1>Business registration</h1>
    <form action="/forms/register" method="post" th:object="${merchant}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="category">Business category</label>
            <select name="category" id="category">
                <option th:each="cat : ${category}" th:value="${cat.id}" th:text="${cat.category}"></option>
                <!--<option th:each="type : ${allCategories}"-->
                        <!--th:value="${category}"-->
                        <!--th:text="#{${'seedstarter.category.' + category}}">Category</option>-->
            </select>
        </div>
        <div class="form-group">
            <label for="bus_name">Business name</label>
            <input type="text" name="bus_name" id="bus_name" th:field="*{busName}" class="form-control"/>
            <!--<p th:if="${#fields.hasErrors('bus_name')}" th:errors="*{busName}"/>-->
        </div>
        <div class="form-group">
            <label for="bus_address">Street address</label>
            <input type="text" id="bus_address" name="bus_address" class="form-control"/>
            <!--<p th:if="${#fields.hasErrors('bus_address')}" th:errors="*{bus_address}"/>-->
        </div>
        <div class="form-group">
            <label for="bus_phone">Business phone number</label>
            <input type="text" name="bus_phone" id="bus_phone" th:field="*{busPhone}" class="form-control"/>
            <!--<p th:if="${#fields.hasErrors('bus_phone')}" th:errors="*{busPhone}"/>-->
        </div>
        <div class="form-group">
            <label for="web_address">Website (if you have one)</label>
            <input type="text" name="web_address" id="web_address" th:field="*{web}" class="form-control"/>
            <!--<p th:if="${#fields.hasErrors('web_address')}" th:errors="*{web}"/>-->
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" th:field="*{description}" class="form-control"/>
            <!--<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>-->
        </div>
        <input class="btn btn-primary" type="submit" value="Submit"/>
        <input type="hidden" th:attr="name=${_csrf.parameterName}, value=${_csrf.token}"/>
    </form>
<input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}" />
</div>
<footer th:replace="fragments/footer :: footer"/>
</body>
</html>