<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Business registration')">
</head>
<body class="formpages">
<nav th:replace="fragments/navbar :: navbar"/>
<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Business registration</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <form action="/merchant/add" method="post" th:object="${merchant}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="category">Business category</label>
                            <select id="category" th:field="*{category}">
                                <option th:each="cat : ${category}" th:value="${cat.id}"
                                        th:text="${cat.category}"></option>
                                <!--<option th:each="type : ${allCategories}"-->
                                <!--th:value="${category}"-->
                                <!--th:text="#{${'seedstarter.category.' + category}}">Category</option>-->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="bus_name">Business name</label>
                            <input type="text" name="bus_name" id="bus_name" th:field="*{busName}"
                                   class="form-control"/>
                            <!--<p th:if="${#fields.hasErrors('bus_name')}" th:errors="*{busName}"/>-->
                        </div>
                        <div class="form-group">
                            <label for="bus_address">Street address</label>
                            <input type="text" id="bus_address" name="bus_address" class="form-control" th:field="*{busAddress}"/>
                            <!--<p th:if="${#fields.hasErrors('bus_address')}" th:errors="*{bus_address}"/>-->
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="bus_address">City</label>
                                <input type="text" id="city" name="city" class="form-control" th:field="*{city}"/>
                                <!--<p th:if="${#fields.hasErrors('bus_address')}" th:errors="*{city}"/>-->
                            </div>
                            <div class="form-group">
                                <label for="bus_address">Zip code</label>
                                <input type="text" id="zipcode" name="zipcode" class="form-control" th:field="*{zipcode}"/>
                                <!--<p th:if="${#fields.hasErrors('bus_address')}" th:errors="*{zipcode}"/>-->
                            </div>
                            <label for="bus_phone">Business phone number (Area code and number)</label>
                            <input type="text" name="bus_phone" id="bus_phone" th:field="*{busPhone}"
                                   class="form-control phoneFormat"/>
                            <!--<p th:if="${#fields.hasErrors('bus_phone')}" th:errors="*{busPhone}"/>-->
                        </div>
                        <div class="form-group">
                            <label for="web_address">Website (if you have one)</label>
                            <input type="text" name="web_address" id="web_address" th:field="*{web}"
                                   class="form-control"/>
                            <!--<p th:if="${#fields.hasErrors('web_address')}" th:errors="*{web}"/>-->
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" name="description" id="description" th:field="*{description}"
                                   class="form-control"/>
                            <!--<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>-->
                            <h4>Relocate the marker below to your business location.</h4>
                        </div>
                        <div class="col-md-6" id="map-canvas2">
                        </div>
                        <div>
                            <label for="latbox">Latitude</label>
                            <input type="text" name="lat" id="latbox" class="form-control" placeholder="29.426791" th:field="*{lat}"/>
                            <label for="lngbox">Longitude</label>
                            <input type="text" name="lat" id="lngbox" class="form-control" placeholder="-98.489602" th:field="*{lng}"/>
                        </div>
                        <input id="newBusiness" class="btn btn-primary" type="submit" value="Submit"/>
                        <input type="hidden" th:attr="name=${_csrf.parameterName}, value=${_csrf.token}"/>
                    </form>
                    <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
                </div>
            </div>
        </div>

    </div>
</div>
<footer th:replace="fragments/footer :: footer"/>
<!--Google Maps API-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnFZ9Y4VyKhA1di1o-X_x3_AJ7GNuz27g"></script>
<script src="../javaScript/geoCode.js"></script>

</body>
</html>