<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<!-- Footer -->

<footer th:fragment="footer" >

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">

                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (210) 999-9999 | <a href="mailto:name@example.com">admin@satxinteractive.com</a> | Copyright &copy; SATX Interactive, 2017</li>
                    </ul>

                </div>
            </div>
        </div>
        <!--<a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>-->

        <!-- jQuery -->
        <script src="../javaScript/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../javaScript/bootstrap.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../javaScript/custom.js"></script>

</footer>
</body>
</html>