<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<!-- Footer -->

<footer th:fragment="footer" >

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h6>SATX Interactive  |  (210) 999-9999  |  <a href="mailto:name@example.com">admin@satxinteractive.com</a>  |  Copyright &copy; SATX Interactive, 2017</h6>

                </div>
            </div>
        </div>


        <!-- jQuery -->
        <script src="../javaScript/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../javaScript/bootstrap.min.js"></script>

        <!--Google Maps API-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnFZ9Y4VyKhA1di1o-X_x3_AJ7GNuz27g"></script>
        <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../javaScript/custom.js"></script>

</footer>
</body>
</html>