<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<nav th:fragment="leftNavbar">
    <a id="left-menu-toggle" href="#" class="btn btn-dark btn-lg toggle hidden" ><i class="fa fa-caret-right" style="font-size:45px"></i></a>

    <!-- Navigation -->
    <nav id="left-sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="left-menu-close" href="#" class="fa fa-caret-left" style="font-size:45px"></a>
            <li class="sidebar-brand">
                <a id="categoryTitle" href="#"></a>
            </li>
            <ul id="dynamicList" style="list-style: none"></ul>
        </ul>
    </nav>

</nav>
</body>
</html>