<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav th:fragment="leftNavbar">

    <!-- Navigation -->
    <nav id="left-sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="left-menu-close" href="#" class="btn btn-light btn-lg pull-left toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a id="categoryTitle" href="#"></a>
            </li>
        </ul>
    </nav>

</nav>
</body>
</html>