<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<nav th:fragment="leftNavbar">
    <a id="left-menu-toggle" href="#" class="btn btn-dark btn-lg toggle hidden" ><i class="fa fa-arrow-circle-o-right"></i></a>

    <!-- Navigation -->
    <nav id="left-sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a id="left-menu-close" href="#" class="btn btn-dark btn-lg" ><i class="fa fa-arrow-circle-o-left pull-right"></i></a>
            </li>
            <li class="sidebar-brand">
                <a id="categoryTitle" href="#"></a>
            </li>
            <li id="dynamicList" style="list-style: none"></li>
        </ul>
    </nav>
</nav>
</body>
</html>