<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav mainmenu">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li>
                <a th:href="@{/}" class="sidebar-brand" onclick="$('#menu-close').click();">Home</a>
            </li>
            <li>
                <a th:href="@{/dining}" onclick="$('#menu-close').click();">Dining</a>
            </li>
            <li>
                <a th:href="@{/thingstodo}" onclick="$('#menu-close').click();">Things To Do</a>
            </li>
            <li>
                <a th:href="@{/general}" onclick="$('#menu-close').click();">General</a>
            </li>
            <li>
                <a th:href="@{/transportation}" onclick="$('#menu-close').click();">Transportation </a>
            </li>
            <li>
                <a th:href="@{/register}" onclick="$('#menu-close').click();">Sign Up</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" onclick="$('#menu-close').click();">Log in</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="logout"/>
                </form>
            </li>
        </ul>
    </nav>
</nav>
</body>
</html>