<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Business registration')"/>
<body class="formpages">
<nav th:replace="fragments/navbar :: navbar"/>
<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Business registration</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <form th:action="@{'/merchant/' + *{id} + '/edit'}" th:method="post" th:object="${merchant}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="category">Business category</label>
                            <select id="category" th:field="*{category}">
                                <option th:each="cat : ${category}" th:value="${cat.id}"
                                        th:text="${cat.category}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="bus_name">Business name</label>
                            <input type="text" name="bus_name" id="bus_name" th:field="*{busName}"
                                   class="form-control"/>
                            <!--<p th:if="${#fields.hasErrors('bus_name')}" th:errors="*{busName}"/>-->
                        </div>
                        <div class="form-group">
                            <label for="bus_address">Street address</label>
                            <input type="text" id="bus_address" name="bus_address" class="form-control" th:field="*{busAddress}"/>
                            <!--<p th:if="${#fields.hasErrors('bus_address')}" th:errors="*{bus_address}"/>-->
                        </div>
                        <div class="form-group">
                            <label for="bus_address">City</label>
                            <input type="text" id="city" name="city" class="form-control" th:field="*{city}"/>
                            <!--<p th:if="${#fields.hasErrors('bus_address')}" th:errors="*{city}"/>-->
                        </div>
                        <div class="form-group">
                            <label for="bus_address">Zip code</label>
                            <input type="text" id="zipcode" name="zipcode" class="form-control" th:field="*{zipcode}"/>
                            <!--<p th:if="${#fields.hasErrors('bus_address')}" th:errors="*{zipcode}"/>-->
                        </div>
                        <div class="form-group">
                            <label for="bus_phone">Business phone number (Area code and number)</label>
                            <input type="text" name="bus_phone" id="bus_phone" th:field="*{busPhone}"
                                   class="form-control phoneFormat"/>
                            <!--<p th:if="${#fields.hasErrors('bus_phone')}" th:errors="*{busPhone}"/>-->
                        </div>
                        <div class="form-group">
                            <label for="web_address">Website (if you have one)</label>
                            <input type="text" name="web_address" id="web_address" th:field="*{web}"
                                   class="form-control"/>
                            <!--<p th:if="${#fields.hasErrors('web_address')}" th:errors="*{web}"/>-->
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" name="description" id="description" th:field="*{description}"
                                   class="form-control"/>
                            <!--<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>-->
                        </div>

                        <div class="col-md-6" id="map-canvas3">
                        </div>
                        <div>
                            <label for="latbox">Latitude</label>
                            <input type="text" name="lat" id="latbox" class="form-control"  th:field="*{lat}"/>
                            <label for="lngbox">Longitude</label>
                            <input type="text" name="lat" id="lngbox" class="form-control"  th:field="*{lng}"/>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit"/>
                        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">

            <ul class="list-unstyled">
                <li><i class="fa fa-phone fa-fw"></i> (210) 999-9999 | <a href="mailto:name@example.com">admin@satxinteractive.com</a> | Copyright &copy; SATX Interactive, 2017</li>
            </ul>

        </div>
    </div>
</div>
<!--<a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>-->

<!-- jQuery -->
<script src="/javaScript/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javaScript/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/javaScript/custom.js"></script>

<!--Google Maps API-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnFZ9Y4VyKhA1di1o-X_x3_AJ7GNuz27g"></script>
<script src="/javaScript/geoEdit.js"></script>
</body>
</html>