<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='SATX Interactive')">
</head>

<body class="home">
<navbar th:replace="fragments/navbar :: navbar"/>

<!-- Header -->
<header id="home-title" class="header-home">
    <div class="text-vertical-center-home">
        <h1>SATX Interactive</h1>
    </div>


</header>

<!-- About -->
<section id="about-home" class="about-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Your pocket guide to San Antonio</h2>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<section id="services-home" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <hr class="large" />
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item-home">
                            <a th:href="@{/dining}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cutlery fa-stack-1x text-primary"></i>
                            </span>
                            <h4 id="homelabel">
                                <strong>Dining</strong>
                            </h4>
                            <p id="homedescription">San Antonio has an abundance of great restaurants. (Don't skip our greatest contribution: breakfast tacos.)</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item-home">
                            <a th:href="@{/thingstodo}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                            <h4 id="homelabel2">
                                <strong>Things To Do</strong>
                            </h4>
                            <p id="homedescription2">Although the number one tourist destination in Texas, the Alamo isn't the only great thing about San Antonio.</p>
                            </a>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item-home">
                            <a th:href="@{/transportation}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-taxi fa-stack-1x text-primary"></i>
                            </span>
                            <h4 id="homelabel3">
                                <strong>Transportation</strong>
                            </h4>
                            <p id="homedescription3">Bus, taxi and rideshare: There are many ways to get around the Alamo City.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item-home">
                            <a th:href="@{/general}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-book fa-stack-1x text-primary"></i>
                            </span>
                            <h4 id="homelabel4">
                                <strong>General</strong>
                            </h4>
                            <p id="homedescription4">Have an emergency or need general information?  This page provides you a directory of useful phone numbers.</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
             <!--/.col-lg-10-->
        </div>
         <!--/.row-->
    </div>
     <!--/.container-->
</section>
<footer th:replace="fragments/footer :: footer"/>
</body>
</html>