<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Home')">
</head>

<body>
<navbar th:replace="fragments/navbar :: navbar"/>

<!-- Header -->
<header id="home-title" class="header-home">
    <div class="text-vertical-center-home">
        <h1>SATX Interactive</h1>
    </div>


</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Your pocket guide to San Antonio</h2>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<section id="services-home" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <!--<h2>Activities</h2>-->
                <!--<hr class="small" />-->
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item-home">
                            <a th:href="@{/dining}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cutlery fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Dining</strong>
                            </h4>
                            <p>San Antonio has an abundance of great restaurants. (Don't skip our greatest contribution: breakfast tacos.)</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item-home">
                            <a th:href="@{/thingstodo}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Things To Do</strong>
                            </h4>
                            <p>Although it's the number one tourist destination in Texas, the Alamo isn't the only great thing about San Antonio.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item-home">
                            <a th:href="@{/localevents}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-ticket fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Local Events</strong>
                            </h4>
                            <p>San Antonio always has <em>something</em> to celebrate, starting with our annual two-week party known as Fiesta.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item-home">
                            <a th:href="@{/transportation}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bus fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Transportation</strong>
                            </h4>
                            <p>Bus, taxi, rideshare, bicycle, shoe leather: There's lots of ways to get around the Alamo City.</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
             <!--/.col-lg-10-->
        </div>
         <!--/.row-->
    </div>
     <!--/.container-->

</section>


<footer th:replace="fragments/footer :: footer"/>
</body>
</html>