<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Home')">
</head>

<body>
<nav th:replace="fragments/navbar :: navbar"/>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>SATX Interactive</h1>
        <h3>Easy guide to San Antonio FUN!</h3>
        <br />
        <a href="#about" class="btn btn-dark btn-lg">Start</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>The site that makes it easy for you to enjoy your San Antonio visit.</h2>
                <p class="lead">This theme features some wonderful photography courtesy of.</p>
                <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Things To Do</h2>
                <hr class="small" />
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cutlery fa-stack-lg text-primary"></i>
                            </span>
                            <h4>
                                <strong>Dining</strong>
                            </h4>
                            <p>Local places to dine with a special kind of San Antonio flare.</p>
                            <a href="whereToEat.html" class="btn btn-light">Begin Search</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bicycle fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Activities</strong>
                            </h4>
                            <p>Want to explore what San Antonio has to offer.</p>
                            <a href="thingsToDo.html" class="btn btn-light">Begin Search</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-ticket fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Local Events</strong>
                            </h4>
                            <p>Looking for some fun and nightlife? This is the place to look.</p>
                            <a href="whatIsHappening.html" class="btn btn-light">Begin Search</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-car fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Transportation</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="howToGetThere.html" class="btn btn-light">Begin Search</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<nav th:replace="fragments/footer :: footer"/>
</body>
</html>
