<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Local Events')">
</head>

<body>
<navbar th:replace="fragments/navbar :: navbar"/>

<!-- Header -->
<div id="container">
    <header id="localevents-title" class="header-localevents">
        <!--&lt;!&ndash;<div class="text-vertical-center-localevents">&ndash;&gt;-->
        <!--<h1>Local Events</h1>-->
        <!--</div>-->
    </header>
    <div class="marquee">
        <div class="img1"></div>
        <div class="img1"></div>
        <div class="img1"></div>
        <div class="img1"></div>
        <div class="img1"></div>
    </div>

</div>
<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Local Events</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Services -->
<section id="services-localevents" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <!--<h2>Activities</h2>-->
                <!--<hr class="small" />-->
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item-localevents">
                            <a th:href="@{/localevents}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-music fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Shows</strong>
                                </h4>
                                <p>San Antonio has an abundance of great restaurants. (Don't skip our greatest contribution: breakfast tacos.)</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item-localevents">
                            <a th:href="@{/localevents}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-ticket fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Sporting Events</strong>
                                </h4>
                                <p>Although it's the number one tourist destination in Texas, the Alamo isn't the only great thing about San Antonio.</p>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!--/.col-lg-10-->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->


</section>
<!--</div>-->
<nav th:replace="fragments/leftNavbar :: leftNavbar"/>

<section th:replace="fragments/map :: map" />

<nav th:replace="fragments/footer :: footer"/>
</body>
</html>