<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Login')">
</head>

<body>

    <nav th:replace="fragments/navbar :: navbar"/>

<div class="container-login">
    <!--<header id="top" class="header-login">-->
        <!--<div class="text-vertical-center-login">-->
            <!--<h1>Login</h1>-->
        <!--</div>-->
    <!--</header>-->
    <div class="square-login">
<form th:action="@{/login}" method="post">
    <div class="text-vertical-center-login">
        <h1>Login</h1>
    </div>
    <div class="form-group-username">
        <!--<label for="username">Username</label>-->
        <input id="username" name="username" type="text" class="form-control-username" placeholder="Username"/>
    </div>
    <div class="form-group-password">
        <!--<label for="password">Password</label>-->
        <input id="password" name="password" type="password" class="form-control-password" placeholder="Password"/>
    </div>
    <div class="form-group-submit">
        <input id="submit" name="submit" type="submit" value="Log In" class="btn btn-primary" />
    </div>
</form>
        </div>
</div>
<div id="footer-login">
<nav th:replace="fragments/footer :: footer"/>
</div>


</body>
</html>