<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Merchant profile')">
</head>
<body>

<navbar th:replace="fragments/navbar :: navbar"/>

<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">SATX Interactive profile for <span th:text="${firstName} + ' ' + ${lastName}"/></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <p>Company: <span th:text="${company}" /></p>
                    <p>Email: <span th:text="${email}" /></p>
                    <p>Phone: <span th:text="${phone}" /></p>
                    <a th:href="${'/profile/' +user.id+ '/edit'}" class="btn btn-info">Edit profile</a>
                    <a href="/merchant/add" class="btn btn-success">Add new business</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div th:each="merchant : ${merchants}">
                        <form th:attr="action=${'/merchant/' + merchant.id}" method="post">
                            <h4 th:text="${merchant.busName}"/>
                            <ul>
                            <li class="phoneText" th:text="${merchant.busPhone}"/>
                            <li><a th:href="${merchant.web}"><p th:text="${merchant.web}"/></a></li>
                            <li th:text="${merchant.description}"/>
                            </ul>



                            <input type="submit" value="Delete" class="btn btn-warning" />
                            <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}" />
                            <a th:href="${'/merchant/' +merchant.id+ '/edit'}" class="btn btn-info">Edit</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav th:replace="fragments/footer :: footer"/>
<!-- Custom phone JavaScript -->
<script src="../javaScript/phonejs.js"></script>


</body>
</html>