<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Things To Do')">
</head>

<body>
<navbar th:replace="fragments/navbar :: navbar"/>

<!-- Header -->

<header id="top" class="header-thingstodo">
    <div class="text-vertical-center">
        <!--<h1>FUN Things To Do in San Antonio</h1>-->
        <!--<h3>Free Bootstrap Themes &amp; Templates</h3>-->
        <!--<br />-->
        <!--<a href="#about" class="btn btn-dark btn-lg">Find Out More</a>-->
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-vertical-center-thingstodo">
                <h2>FUN Things To Do in San Antonio</h2>
                <!--<h2>Your user friendly guide to San Antonio FUN!</h2>-->
                <!--<p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>-->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services-thingstodo" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <hr class="small" />
                <div class="row">
                    <div class="col-md-2 col-md-5">
                        <div class="service-item-thingstodo">
                            <a th:href="@{/attractions}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-film fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Attractions</strong>
                            </h4>
                            <p>Local dining and Chain dining.</p>
                                </a>
                            <!--<a th:href="@{/attractions}" class="btn btn-light">Learn More</a>-->
                        </div>
                    </div>
                    <div class="col-md-2 col-md-5">
                        <div class="service-item-thingstodo">
                            <a th:href="@{/shopping}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cc-mastercard fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Shopping</strong>
                            </h4>
                            <p>Activities ranging from amusement parks to shopping.</p>
                                </a>
                            <!--<a th:href="@{/shopping}" class="btn btn-light">Learn More</a>-->
                        </div>
                    </div>
                    <div class="col-md-2 col-md-5">
                        <div class="service-item-thingstodo">
                            <a th:href="@{/golf}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flag fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Golf</strong>
                            </h4>
                            <p>Access local music, cultural or sporting events.</p>
                                </a>
                            <!--<a th:href="@{/localevents}" class="btn btn-light">Learn Mo</a>-->
                        </div>
                    </div>
                    <div class="col-md-2 col-md-5">
                        <div class="service-item-thingstodo">
                            <a th:href="@{/parks}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-tree fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Parks</strong>
                            </h4>
                            <p>Transportation options provided in San Antonio.</p>
                                </a>
                            <!--<a th:href="@{/transportation}" class="btn btn-light">Learn More</a>-->
                        </div>
                    </div>
                    <div class="col-md-2 col-md-5">
                        <div class="service-item-thingstodo">
                            <a th:href="@{/culturearts}">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-file-image-o fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Culture/Arts</strong>
                            </h4>
                            <p>Transportation options provided in San Antonio.</p>
                                </a>
                            <!--<a th:href="@{/transportation}" class="btn btn-light">Learn More</a>-->
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<nav th:replace="fragments/leftNavbar :: leftNavbar"/>

<section th:replace="fragments/map :: map" />

<nav th:replace="fragments/footer :: footer"/>

</body>
</html>